<!------------Navigation Bar---------------->
<% include partials/usernav.ejs %>
<!------------Content----------------->
<div class="dashboard-layout">
    <h1>Search</h1>
    <p><ul>
        <%  for(var i = 0; i < students.length; i++){ %>
            <li><a href ='/posts/review/<%= posts[i]._id %>'><h4><%= posts[i].title %></h4></a>
                <p><%= posts[i].university %></p>
                <p><a href = '/profile/<%= students[i].name %>'><h5><%= students[i].name %></h5></a></p>
            </li>
            <br/>
        <% } %>
    </ul></p>
</div>